<div class="container">
<h1>Listing Buses</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Bus num</th>
      <th>Registration num</th>
      <th>Status</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Capacity</th>
      <th>Ac nonac</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buses.each do |bus| %>
      <tr>
        <td><%= bus.bus_num %></td>
        <td><%= bus.registration_num %></td>
        <td><%= bus.status %></td>
        <td><%= bus.latitude %></td>
        <td><%= bus.longitude %></td>
        <td><%= bus.capacity %></td>
        <td><%= bus.ac_nonac %></td>
        <td><%= link_to 'Show', bus, method: :get %></td>
        <td><%= link_to 'Edit', edit_bus_path(bus), method: :get %></td>
        <td><%= link_to 'Destroy', bus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


