<div class="container">
      	<div class="col-sm-3"></div>
	<div class="col-sm-6">
	<div class="panel panel-default">
		<div class="panel-heading"><strong>Bus Details</strong></div>
		<div class="panel-body">
			
			<label>Bus num:</label>
			<p>
			  <%= @bus.bus_num %>
			</p>

			  <label>Registration num:</label>
			<p>
			  <%= @bus.registration_num %>
			</p>

			  <label>Status:</label>
			<p>
			  <%= @bus.status %>
			</p>

			  <label>Latitude:</label>
			<p>
			  <%= @bus.latitude %>
			</p>

			  <label>Longitude:</label>
			<p>
			  <%= @bus.longitude %>
			</p>

			  <label>Capacity:</label>
			<p>
			  <%= @bus.capacity %>
			</p>

			  <label>Seat avail:</label>
			<p>
			  <%= @bus.seat_avail %>
			</p>

			  <label>Ac nonac:</label>
			<p>
			  <%= @bus.ac_nonac %>
			</p>
		</div>
	</div>
	</div>
	<div class="col-sm-3"></div>

<%= link_to 'Edit', edit_bus_path(@bus), method: :get %> |
<%= link_to 'Back', buses_path %>
</div>
